//Color variables
@brightGreen: #A0CE4E;
@brightBlue: #53B6CB;
@lightGray: #efefef;





//Sidebar Pages
.with-sidebar-content {
  display: flex !important;

  .sqs-grid-12 {
    width: 95%;
    margin: 0 3% 0 0;
  }

  h3{
    color: black;
    text-transform: capitalize;
  }
}

// Sidebar
.sidebar-wrapper{

  #program-sidebar-1{
    background: #c7e76c;
    padding-bottom: 5%;
  }

  h2{
    color: black;
  }

  a {
    color: black;
  }

  hr {
    width: 75%;
    margin: 0 auto;
    height: 2px;
  }

  .sqs-block-button-element {
    background: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
  }

  .sqs-block-button-element:first-child:hover {
    background: @brightGreen;
    border-color: @brightGreen;
    box-shadow: 0 4px 8px 1px rgba(40, 42, 43,.35);
    transition: all .5s;
  }

  .sqs-block-button-element:last-child:hover {
    background: @brightBlue;
    border-color: @brightBlue;
    box-shadow: 0 4px 8px 1px rgba(40, 42, 43,.35);
    transition: all .5s;
  }
}

// Accordion Styles
.accordion-wrapper{
  width: 60%;
  margin:0 auto;

  h3 {
    border-bottom: 2px solid #eee;
    padding-bottom: 2%;
    color: black;
  }

  h3:after {
    content: ">";
    color: @brightGreen;
    font-size: 2.5em;
    font-weight: 800;
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    }

  ul{
    display: none;
  }

  .panel {
    border-bottom: 2px solid @brightGreen;
    padding-bottom: 2%;
    background: @lightGray;
    display: block;
  }
}
