#covid {
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 5px solid @brightGreen;
  margin-bottom: 50px;

  #covid-response {
    max-width: 1024px;
    margin: 0 auto;

    h2 {
      font-size: 2rem !important;
    }
  }
}

.homepage #covid {
  margin-bottom: 0;
  border-top: 5px solid @brightGreen;
}

#collection-5e7500cee0b46b5fe2382053 {
  #promotedGalleryWrapper, #covid {
    display: none;
  }
}
