//Color variables
@brightGreen: #A0CE4E;
@brightBlue: #53B6CB;
@lightGray: #efefef;


//Basic Styles
#promotedGalleryWrapper {
    height: 20%;
    background: @brightBlue;
}

.index-section .page-content {
    width: 100%;
    padding: 96px 0 !important;
}

blockquote{
  background: @lightGray;
  text-align: center;
  padding: 1em;
}


a:hover{
  color: black !important;
}

.sqs-block-horizontalrule {
    width: 80%;
    margin: 0 auto;

    hr{
      margin: 0;
      height: 2px;
    }
}

//Navigation

#headerNav {
    display: block !important;
    text-align: center !important;
}

#logoWrapper{
  margin: 0 auto;
  display: flex !important;

  #logoImage{
    width: 250px;

    img {
      max-height: 250px !important;
    }
  }
}

@media only screen and (min-width:1020px){
  .mobile-nav-toggle{
    display: none;
  }
}

//preFooter
#preFooter{
  background: #7da536 url("https://static1.squarespace.com/static/5b563c96f2e6b15f0269b91a/t/5b61b7c52b6a28724ffe1b5d/1533130694242/download.png") no-repeat 50%;
  background-size: cover;
  background-blend-mode: multiply;
  border-bottom: 8px solid @brightGreen;
  padding: 2% 0;

  .sqs-block-button-element {
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: none;
    font-size: 1em;
    font-weight: 700;
  }

  .sqs-block-button-element:hover{
    background: @brightBlue;
    border:2px solid @brightBlue;
    color: white !important;
    opacity: 1;
    box-shadow: 0 4px 8px 1px rgba(40, 42, 43,.35);
    transition: all .5s;
  }
}

//Staff
.summary-thumbnail-outer-container a {
    overflow: hidden !important;
}

img.summary-thumbnail-image.loaded:hover {
    transform: scale(1.2) !important;
    transition: all 2s ease;
}

a.summary-title-link:hover {
    color: @brightGreen !important;
    transition: all .8s ease;
}


//Images with Captions
.image-caption-wrapper {
  background: @brightGreen;
  color: black;

  .image-caption {
    padding: 0 5% 5% 5%;
    font-size: .9em;
    line-height: .7;
  }

  a{
    color: black !important
  }
}


//Sidebar Pages
.with-sidebar-content {
  display: flex !important;

  .sqs-grid-12 {
    width: 100%;
    margin: 0 3% 0 0;
  }
}

// Sidebar
.sidebar-wrapper{
  min-width: 20px;
  min-height: 20px;
  width: 50%;

  #program-sidebar-1,
  #program-sidebar-2,
  #employment-sidebar,
  #joint-sidebar,
  #chattanooga-sidebar,
  #staff-sidebar{
    background: #c7e76c;
    padding-bottom: 5%;
  }

  h3{
    color: black;
  }

  a {
    color: black !important;
  }

  hr {
    width: 75%;
    margin: 0 auto;
    height: 2px;
  }

  .sqs-block-button-element {
    background: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
  }

  .sqs-block-button-element:first-child:hover {
    background: @brightGreen;
    border-color: @brightGreen;
    box-shadow: 0 4px 8px 1px rgba(40, 42, 43,.35);
    transition: all .5s;
  }

  .sqs-block-button-element:last-child:hover {
    background: @brightBlue;
    border-color: @brightBlue;
    box-shadow: 0 4px 8px 1px rgba(40, 42, 43,.35);
    transition: all .5s;
  }
}

// Accordion Styles
.accordion-wrapper{
  width: 50%;
  margin:0 auto;

  h3 {
    border-bottom: 2px solid #eee;
    padding-bottom: 2%;
    color: black;
  }

  h3:after {
    content: ">";
    color: @brightGreen;
    font-size: 2.5em;
    font-weight: 800;
    position: absolute;
    right: 0;
    transform: rotate(90deg);
    }

  h3+ul{
    display: none;
  }

  .panel {
    border-bottom: 2px solid @brightGreen;
    padding-bottom: 2%;
    background: @lightGray;
    display: block;
  }
}
